<div id="<%= dom_id record %>">
  <p>
    <strong>Doctor comments:</strong>
    <%= record.doctor_comments %>
  </p>

  <p>
    <strong>Last accsessed:</strong>
    <%= record.last_accsessed %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= record.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= record.patient_id %>
  </p>

</div>
