<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div id="<%= dom_id patient %>">
    <h1 class="display-4">Here is  <%= patient.name %>'s info:</h1>
    <hr class="my-4">
    <p class="lead">
      <p>
        <strong>Name:</strong>
        <%= patient.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= patient.email %>
      </p>

      <p>
        <strong>Dob:</strong>
        <%= patient.DoB %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= patient.address %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= patient.phone %>
      </p>

    </div>
    </p>
  </div>
</div>


  
