<p style="color: green"><%= notice %></p>

<div style="display: none;">
<% if !ClientHospital.exists?(:patient_id => @patient.patient_id) %>
    <%= ClientHospital.create(:doctor_id => current_user.id, :patient_id => @patient.patient_id)%>
<% end %>
</div>
<%= render @patient %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
    <div>
    <%= link_to "Edit this patient", edit_patient_path(@patient), class: "btn btn-warning" %> 
    <br>
    <br>
    <%= link_to "Back to your patients", "/welcome", class: "btn btn-warning" %> 
    <br><br>
    <%= link_to "Show medical records", "/records?id="+@patient.id.to_s, class: "btn btn-warning" %>
   </div>
    </p>
  </div>
</div>


