<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="<%= dom_id doctor %>">
      <h1 class="display-4">Here is your info, <%= doctor.name %>:</h1>
      <p>
        <strong>Email:</strong>
        <%= doctor.email %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= doctor.name %>
      </p>

      <p>
        <strong>Specialty:</strong>
        <%= doctor.specialty %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= doctor.phone %>
      </p>

      <p>
        <strong>Password:</strong>
        <%= doctor.password %>
      </p>

      <p>
        <strong>Role:</strong>
        <%= doctor.role_id %>
      </p>

    </div>
  </div>
</div>

